@page
@model MusicApp.Models.Album
@{ 

}
<div asp-validation-summary="ModelOnly"></div>
<table>
    <tbody>
        <tr>
            <th><label asp-for="Name">@Html.DisplayNameFor(a => a.Name)</label></th>
            <td><input asp-for="Name"></td>
            <td><span asp-validation-for="Name"></span></td>
        </tr>
        <tr>
            <th><label asp-for="ReleaseYear">@Html.DisplayNameFor(a => a.ReleaseYear)</label></th>
            <td><input asp-for="ReleaseYear"></td>
            <td><span asp-validation-for="ReleaseYear"></span></td>
        </tr>
        <tr>
            <th><label asp-for="Band">@Html.DisplayNameFor(a => a.Band)</label></th>
            <td><select name="bandlist">
@*                @foreach(var band in Model.BandList)
            {

            }
                </select></td>*@
            <td><span asp-validation-for="Band"></span></td>
        </tr>
    </tbody>
</table>