/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* Style the navbar */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#navbar {
    /*overflow: hidden;*/
    width: 100%;
    margin: auto;
    flex: auto;
    background-color: black;
    position: sticky;
    text-align: center;
}

    /* Navbar links */
    #navbar a {
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        font-weight: bolder;
    }
    #navbar li {
        display: inline;
    }
#add {
    outline: double;
    outline-color: blue;
    color: blue;
    font-weight: bold;
    display: inline-block;
    margin: 20px 0px;
}
li{
    list-style: none;
}

#table {
}
    #table td {
        text-align: left;
        padding: 15px;
        margin: 5px;
        outline: groove;
        outline-color: lightgray;
    }
#table a {
    margin-left: 30px;
}

#bottom {
    margin-top: 40px;
    color: white;
    background-color: black;
    position: sticky;
    bottom: 5px;
}

.review-box {
    outline: groove;
    outline-color: black;
}

/* Page content */
.content {
    padding: 16px;
}

.log-nav{
    float: right;

}

.log-nav, #navbar{
    display: inline-flex;
    flex: auto;
}

.sticky {
/*    position: sticky;
    top: 0;
    width: 100%;*/
}

@media (max-width: 1000px) {
    * {
        font-size: 12px;
    }
    #navbar a{
        padding: 10px;
    }
    #navbar li {
        display: inline-block;
    }
}

@media screen and (max-width: 500px) {
    * {
        font-size: 10px;
    }
    #table a {
        font-size: 10px;
        margin-left: 5px;
    }
    #navbar {
        
    }
    .log-nav {
        margin-right: 20px;
    }
    #navbar a{
        display: block;
        text-align: left;
    }
}


